
.SignupLogin{
     background: #252525;
}
.SignupLogin-div{
     background-image: url("https://www.firefoxbikes.com/on/demandware.static/Sites-HeroFirefox-Site/-/default/dw868744a7/assets/images/bike-infografy.png");
     padding-left: 60%;
     height: 750px;
}